* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
    display: block;
}
.numbers {
    display: flex;
    justify-content: center;
    width: 100%; 
    gap: 50px;
}

.numbers p {
    padding: 8px;
    font-size: 30px;
    font-weight: 400;
    color: #2ecc71;
}

input {
    padding: 8px;
    margin-bottom: 8px;
    resize: none;
    
}

button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #2ecc71;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.resultado {
    display: none;
    padding: 8px;
    margin-top: 10px;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}